.navbar-top {
  height: 10%;
  background-color: rgb(255, 217, 0);
  margin-top: 0px;
}

.navbar-bottom {
  height: 10%;
  background-color: rgb(255, 217, 0);
  margin-bottom: 0px;
}

.center-element {
  text-align: center;
}

.body {
  height: 70%;
}

div.divider {
  height: 5%;
}

.pokemon-image {
  border: solid 0.4vw #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 40%;
  height: 55%;
  margin-top: 10%;
}

.container {
  height: 100vh;
}

h1.info-container {
  margin-top: 1vw;
  font-size: 2vw;
}

@font-face {
  font-family: 'Pokemon';
  src: url('./Fonts/Pokemon\ Solid.ttf');
}

div.description {
  width: 100%;
  border: solid 1px black;
  border-radius: 10px;
  margin-top: 2vw;
  height: 10vw;
}

div.eskeuro {
  width: 45%;
}

p.description {
  font-size: 2vw;
  margin: 1vw;
}

p, h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.triangle-up {
  width: 20%;
  height: 80%;
  margin-top: 2%;
}

.triangle-down {
  width: 20%;
  height: 80%;
  
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.triangle-up:hover, .triangle-down:hover {
  cursor: pointer;
}

i.add-button {
  font-size: 3vw;
  margin-top: 5%;
  margin: 1%;
}

i.add-button:hover {
  cursor: pointer;
  color: #ccc;
}

span.who-made {
  color: white;
  font-size: 1vw;
}

a.repository-git {
  color: white;
}

a.repository-git:hover {
  color: rgb(233, 233, 233);
}

div.traino {
  height: 33%;
}

h1.justified {
  font-size: 1.5vw;
}

div.loader {
  border: 1vw solid #f3f3f3;
  border-radius: 50%;
  border-top: 2vh solid rgb(255, 217, 0);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-top: 20%;
  margin-left: 47%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
